pyttsx3~=2.90
PyQt5~=5.15.2
pymorphy2~=0.9.1
pyglet~=1.5.11
PyMySQL~=0.10.1
pytils~=0.3
pynput~=1.7.1
requests~=2.25.0
fpdf~=1.7.2
fuzzywuzzy~=0.18.0
psutil~=5.7.3
translate~=3.5.0
pycbrf~=0.4.0
PyAudio~=0.2.11
vosk~=0.3.7